In [40]:
from pandas import read_csv
from matplotlib import pyplot
from pandas import DataFrame
# load dataset
series = pd.read_csv('data_processed_user_v2.csv', header=0, index_col=0,parse_dates=True, squeeze=True)
series['timestamp']

0      2020-11-17 11:29:01.359
1      2020-11-17 11:34:01.888
2      2020-11-17 11:39:01.942
3      2020-11-17 11:44:02.143
4      2020-11-17 11:49:02.200
                ...
136    2020-11-18 15:13:47.614
137    2020-11-18 15:13:55.541
138    2020-11-19 13:32:09.865
139    2020-11-19 13:37:09.897
140    2020-11-19 13:42:09.955
Name: timestamp, Length: 141, dtype: object

### Feature Engineering

In [45]:
import pandas as pd
from datetime import datetime
#df['date'] = pd.to_datetime(df['date'])
series['timestamp'] = series['timestamp'].astype('datetime64[ns]')
series.info()
date = series['timestamp']

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141 entries, 0 to 140
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  141 non-null    datetime64[ns]
 1   power      141 non-null    int64
 2   capacity   141 non-null    int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 4.4 KB

In [52]:
#For extracting year,month and day to new column,follow the code:

series['year'] = series['timestamp'].dt.year
series['month'] = series['timestamp'].dt.month
series['week'] = series['timestamp'].dt.isocalendar().week
series['day'] = series['timestamp'].dt.day
series['time'] = series['timestamp'].dt.time


#df[‘ScheduledDay_hour’] = df[‘ScheduledDay’].dt.hour
#df[‘ScheduledDay_minute’] = df[‘ScheduledDay’].dt.minute
#df[‘ScheduledDay_dayofweek’] = df[‘ScheduledDay’].dt.dayofweek
series.head()

,timestamp,power,capacity,year,month,day,time,week
0,2020-11-17 11:29:01.359,1179,22,2020,11,17,11:29:01.359000,47
1,2020-11-17 11:34:01.888,1170,22,2020,11,17,11:34:01.888000,47
2,2020-11-17 11:39:01.942,1089,22,2020,11,17,11:39:01.942000,47
3,2020-11-17 11:44:02.143,1004,22,2020,11,17,11:44:02.143000,47
4,2020-11-17 11:49:02.200,1150,22,2020,11,17,11:49:02.200000,47